
@{

}


<form action="/Game/Add" method="post">
    <div class="mb-3">
        <label for="Name">Название</label>
        <input type="text" name="Name" id="Name" class="form-control" />
    </div>
    <div class="mb-3">
         <label for="Developer"> Разработчик </label>
         <input type="text" name="Developer" id="Developer" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="Publisher"> Издатель </label>
        <input type="text" name="Publisher" id="Publisher" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="Category"> Категория </label>
        <input type="text" name="Category" id="Category" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="Access"> Ключ доступа </label>
        <input type="text" name="Access" id="Access" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="GenreId"> Жанр </label>
        <input type="text" name="GenreId" id="GenreId" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary"> Сохранить </button>
</form>

